{% extends 'base/base.html' %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'homepage/css/homepage.css' %}" rel="stylesheet">
    <link href="{% static 'pedidos/css/pedido.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
<div class="container">
    <h1>Meus Pedidos</h1>

    {% if messages %}
        {% for message in messages %}
            <section class='alert {{message.tags}}'>
                {{message}}
            </section>
        {% endfor %}
    {% endif %}

    <br>
    <div class="box-listar">
        <table>
            <thead>
              <tr>
                <th scope="col">Pedido</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>

              </tr>
            </thead>
            <tbody>
                {% for pe in pedido %}
                    <tr class="linha">
                        <td>{{pe.id}}</td>
                        <td>{{pe.get_tamanho_display}}</td>
                        <td>{{pe.get_tamanho_display}}</td>
                        <td>{{pe.get_status_display}}</td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

</div>

    
{% endblock 'conteudo' %}