body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.btn-cadastro {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

label {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre o label e o checkbox */
  }

