{% extends 'base/base.html' %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'homepage/css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <header>
        <h1>Bem-vindo à Pizzaria D'boa</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url "cardapio" %}">Cardapio</a></li>
            <li><a href="{% url "pedido" %}">Faça seu Pedido</a></li>
            <li><a href="{% url "contatos" %}">Contato</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <ul>
        <li>
            {% if request.user.is_authenticated %}
                <label>Seja bem vindo, {{ request.user.username }}</label>
                <a href='{% url "logout" %}'>Clique aqui para logout</a>
            {% else %}
                <a href='{% url "login" %}'>Você não está logado. Clique aqui para Logar</a>
            {% endif %}
        </li>
    </ul>
    <br>
    <div class="container">
        <div class="welcome-text">
            <h2>Sabor e qualidade em cada fatia!</h2>
            <p>Na Pizzaria D'boa, oferecemos uma variedade de deliciosas pizzas feitas com ingredientes frescos e selecionados.</p>
            <p>Faça seu pedido agora e surpreenda-se!</p>
        </div>
    </div>
{% endblock 'conteudo' %}